@import "./smart-grid.less";

.payment{
  &__wrapper{
    .wrapper()
  }
  &__row{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__info{
    width: 54%;
  }
  &__order{
    width: 41%;
    border: 2px solid #44324B;
    padding: 32px 30px;
  }
  &__form{

  }
  &__express{
    margin-top: 20px;
    border: 2px solid #44324B;
    padding: 30px;
  }
}
.express{
  &__text{
    margin-bottom: 20px;
  }
}
.order{
  &__title{
    font-size: 24px;
    line-height: 36px;
    margin: 0;
  }
  &__text{
    font-size: 16px;
    margin-top: 8px;
  }
  &__item{
    margin-top: 32px;
    border-bottom: 1px solid #44324B;
    padding-bottom: 29px;
  }
  
}

.paypal__wrapper{
  .wrapper();
  text-align: center;
}

.thanks{
  .wrapper();
  margin-top: 50px;
  margin-bottom: 50px;
  &__text{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  &__login{
    margin-top: 40px;
    width: 150px;
  }
}